[buildout]
extends = 
	base.cfg
	journal.cfg
	sources.cfg
	versions.cfg

parts +=
    logrotate.conf
    logrotate-hourly
    awscli
    autostart

[circus.ini]
webapp = true
statsd = False
# log_size = 134217728
# backup_count = 5

[logrotate.conf]
logs_bucket = openprocurement-logs-sandbox

[project]
tenders_api_server = https://lb.api-sandbox.openprocurement.org
public_tenders_api_server = http://public.api-sandbox.openprocurement.org
tenders_api_version = 0
contracting_api_server = https://lb.api-sandbox.openprocurement.org
contracting_api_version = 0
api_token = contracting_secret
